html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --button-height: 100px;
    --button-width: 100px;
}

.header{
    padding: 10px;
    text-align: left;
    background-color: darkgray;
}

.nav{
    margin-right: 50px;
    display: inline;
}

.nav__link {
    margin-right: 150px;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo{
   margin-right: 100px;
   padding: 3px;
}

.logo img{
    width: 80px;
    border-radius: 40px;
}

.login{
    margin-right: 100px;
}
.footer{
    padding: 5px;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
    color: white;
    background-color: darkgrey;
    text-align: center;
}

.footer img{
    width: 60px;
    border-radius: 30px;
}

blockquote{
   font-size: 20px;
}

.container-slide{
    width: 100%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 100%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
}

.swiper .swiper-pagination-bullet-active{
    background: white;
}

.sidebar-nav{
    margin-bottom: 100px;
    padding: 60px;
    list-style: none;
    text-align: left;
}

.diploma {
    margin-right: 60px;
    height: 300px;
    width: 200px;
}

.diploma-location{
    text-align: center;
}

.scrollTop{
  content: "&uarr";
  color:white;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 5px;
  background-color: green;
  position: fixed;
}

.scrollTop__link {
  font-size: 50px;
  color: white;
}