{% load static %}
<p class="diploma-location">
  <img class="diploma" src="{% static 'images/s1-300x400.png' %}" alt="dip1">
  <img class="diploma" src="{% static 'images/s2-300x400.png' %}" alt="dip2">
  <img class="diploma" src="{% static 'images/s3-300x400.png' %}" alt="dip3">
  <img class="diploma" src="{% static 'images/s4-300x400.png' %}" alt="dip4">
  <img class="diploma" src="{% static 'images/s5-300x400.png' %}" alt="dip5">
  <img class="diploma" src="{% static 'images/s6-300x400.png' %}" alt="dip6">
</p>
<p class="diploma-location">
  <img class="diploma" src="{% static 'images/s7.png' %}" alt="dip7">
  <img class="diploma" src="{% static 'images/s8-300x400.png' %}" alt="dip8">
  <img class="diploma" src="{% static 'images/s11-300x400.png' %}" alt="dip9">
  <img class="diploma" src="{% static 'images/s12-300x400.png' %}" alt="dip10">
</p>