{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="footer">
        <a href="#page-top" class="scrollTop__link btn btn-success">&uarr;</a>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="footer">

        ©️ 2023, DLS-company, created by Paul Maslov &emsp;&emsp;
        Project curator:
        <span>
          <a href="https://mate.academy/ru">
            <img src="{% static 'images/logo MA.jpg'%}" alt="MA logo">
          </a>
        </span>
        Mate Academy



      </div>
    </div>
  </div>

</div>
