{% load static %}
<div class="header">

  <span class="logo">
    <a href="https://dls.ua/">
      <img src="{% static 'images/logodls.png'%}" alt="DLS logo">
    </a>
  </span>

   <span class="login btn btn-primary">
    {% if user.is_authenticated %}
      User: {{ user.username }}
      <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-success" href="{% url 'login' %}">Login</a>
    {% endif %}
  </span>

  <div class="nav">
    <a class="nav__link btn btn-success" href="{% url 'task_manager:index' %}">Home</a>
    <a class="nav__link btn btn-success" href="#">Projects</a>
    <a class="nav__link btn btn-success" href="#">Tasks</a>
    <a class="nav__link btn btn-success" href="{% url 'task_manager:post-list' %}">Posts</a>
    <a class="nav__link btn btn-success" href="{% url 'task_manager:employee-list' %}">Employees</a>
    <a class="nav__link btn btn-success" href="{% url 'task_manager:about' %}">About</a>
  </div>

</div>
