<ul class="sidebar-nav">
  <li>
    <a
      href="{% url 'task_manager:index' %}" class="btn btn-success" role="button">
      Home page
    </a>
  </li>
  <br>
  <li>
    <a
      href="#" class="btn btn-success" role="button">
      Projects
    </a>
  </li>
  <br>
  <li>
    <a
      href="#" class="btn btn-success" role="button">
      Tasks
    </a>
  </li>
  <br>
  <li>
    <a
      href="{% url 'task_manager:post' %}" class="btn btn-success" role="button">
      Posts
    </a>
  </li>
  <br>
  <li>
    <a
      href="#" class="btn btn-success" role="button">
      Employees
    </a>
  </li>
</ul>
