<ul class="sidebar-nav">
  <li>
    <a class="sidebar-button"
      href="{% url 'task_manager:index' %}" >
      Home page
    </a>
  </li>
  <br>
  <li>
    <a class="sidebar-button"
      href="{% url 'task_manager:project-list' %}">
      Projects
    </a>
  </li>
  <br>
  <li>
    <a class="sidebar-button"
      href="{% url 'task_manager:task-list' %}">
      Tasks
    </a>
  </li>
  <br>
  <li>
    <a class="sidebar-button"
      href="{% url 'task_manager:post-list' %}">
      Posts
    </a>
  </li>
  <br>
  <li>
    <a class="sidebar-button"
      href="{% url 'task_manager:employee-list' %}">
      Employees
    </a>
  </li>
</ul>
