{% extends "base.html" %}

{% block content %}

<h1 class="text-center">ABOUT US</h1>
  <p>
    DLS is dedicated to showcasing the best in beautiful,
    authentic design.
  </p>
  <p>
    When it comes time to refresh your working or living space
    with new stylish furniture, it’s important to curate pieces
    that reflect your own personal, unique style, and you are
    wondering where to find and what to choose.
  </p>
  <p>
    You want to select furniture made with quality materials
    to ensure that you and people around you can enjoy each piece
    for a long time.
  </p>
  <p>
    You want to find designs that give each
    room a one-of-a-kind, refined look.
  </p>
  <p>
    You want every piece to serve a functional, intentional purpose.
  </p>
  <p>
    At DLS, you’ll find what you need to make your space comfortable
    and pleasant.
  </p>
  <p>
    When we create a new product or a new series of products, our work
    becomes an eye-catching in every single detail.
  </p>
  <p>
    The materials we select, the stylish design and the chosen
    colours, as well as every other aspect, are the result
    of the thoughtful and meticulous process of our work.
  </p>
  <p>
    DLS is a Ukrainian factory with own full-cycle production
    that has been creating upholstered furniture for business
    and home for more than 20 years.
  </p>
  <p>
    The model range includes over 250 items for any space
    and purpose, whether it's a living room, a restaurant
    or a conference room in a business centre.
  </p>
  <p>
    Items from different series can be easily combined
    into an ensemble by making them from one upholstery collection.
  </p>

  {% block diplomas %}
    {% include "includes/diplonas.html" %}
  {% endblock %}

{% endblock %}
