{% extends "base.html" %}

{% block content %}
  <h1>
    <strong>List of employees: </strong>
    <a
      class="btn btn-primary"
      style="float: right"
      href="{% url 'task_manager:employee-create'%}">
      Add New Employee
    </a>
    <span>
      {% block search %}
        {% include "includes/search.html" %}
      {% endblock %}
    </span>
  </h1>


  {% if employee_list %}
    <table class="table">
      <tr class="thead-dark">
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th class="text-center">Projects</th>
        <th class="text-center">Tasks</th>
        <th class="text-center">Commentaries</th>
        <th class="text-center">Upd employee</th>
        <th class="text-center">Del employee</th>

      </tr>
    {% for employee in employee_list %}
      <tr>
        <td>{{ employee.id }}</td>
        <td>
          <a href="{{ employee.get_absolute_url }}">
          {{ employee.username }} {% if user == employee %} (Me){% endif %}</a>
        </td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.position }}</td>
        <td class="text-center">{{ employee.project.all.count}}</td>
        <td class="text-center">{{ employee.task.all.count}}</td>
        <td class="text-center">{{ employee.post.commentaries.all.count }}</td>
        <td class="text-center">
          <a href="{% url 'task_manager:employee-update' pk=employee.id %}">
            🆗
          </a>
        </td>
        <td class="text-center">
          <a href="{% url 'task_manager:employee-delete' pk=employee.id %}">
            ⛔️
          </a>
        </td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no employees in the Task Manager.</p>
  {% endif %}
{% endblock %}
