{% extends "base.html" %}

{% block content %}
  <h1 class="text-left">
    <p>
      <a
        href="{% url 'task_manager:project-detail' pk=post_detail.task.project.id %}">
        PROJECT:
      </a>
      "{{ post_detail.task.project.name }}"
    </p>
    <p>
      <a
        href="{% url 'task_manager:task-detail' pk=post_detail.task.id %}">
        TASK:
      </a> "{{ post_detail.task.name }}"
    </p>
  </h1>

  <section class="p-3 mb-2 bg-success text-white">
  <div class="container-fluid">
      <div class="row">

        <div class="col-sm-5">
           <h3>
             Author: {{ post_detail.owner.first_name }}
             {{ post_detail.owner.last_name }}
           </h3>
           <p>Created: {{ post_detail.created_time }}</p>
        </div>

        <div class="col-sm-7">
          <h3>Post: "{{ post_detail.title }}"</h3>
          <p>Content: "{{ post_detail.content }}"</p>
        </div>

      </div>
    </div>


  </section>

  <br>

  <section>
    <h1 class="text-center"><strong>Commentaries</strong></h1>
    <div class="p-3 mb-2 bg-dark text-white">
      <h4>Count of commentaries: {{ post_detail.commentaries.count }}</h4>
    </div>
    {%  for commentary in post_detail.commentaries.all %}
      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">
          {{ commentary.user.first_name }} {{ commentary.user.last_name }}
        </h4>
        <p>{{ commentary.content }}</p>
        <hr>
        <p class="mb-0">{{ commentary.created_time }}</p>
      </div>
    {% endfor %}
    {% if user.is_authenticated %}
      <form action="{% url 'task_manager:post-create-comment' pk=post_detail.id %}" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <label for="content" class="form-label"><strong>Create new comment:</strong></label>
        <textarea class="form-control mb-2" style="height: 100px" name="content"></textarea>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
      {% else %}
        <a href="{% url 'login' %}">Login to add comments!</a>
    {% endif %}

  </section>

{% endblock %}
