{%  extends "base.html" %}

{% block content %}
  <h1>
    <strong>List of Projects</strong>
    <a
      class="btn btn-primary"
      style="float: right"
      href="{% url 'task_manager:project-create'%}">
      Add New Project
    </a>
    <span>
      {% block search %}
        {% include "includes/search.html" %}
      {% endblock %}
    </span>
  </h1>
  <table class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Project owner</th>
        <th scope="col">Project Title</th>
        <th scope="col">Content</th>
        <th scope="col">Task</th>
        <th scope="col">Project Team</th>
        <th scope="col">Complete Plan Date</th>
        <th scope="col">Complete Fact Date</th>
        <th scope="col">Complete Mark</th>
        <th scope="col">Upd proj</th>
        <th scope="col">Del proj</th>
      </tr>
    </thead>
    <tbody>
    {% for project in project_list %}
      <tr>
        <th scope="row">
          {{ project.owner.first_name }} {{ project.owner.last_name }}
        </th>
        <td><a href="{%  url 'task_manager:project-detail' pk=project.id %}">{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
        <td class="text-center">{{ project.task.all.count }}</td>
        <td class="text-center">{{ project.team.name }}</td>
        <td class="text-center">{{ project.deadline }}</td>
        <td class="text-center">{{ project.fact_date }}</td>
        <td class="text-center">
        {% if project.is_completed %}
          <a
            class="btn btn-success"
            href="{% url 'task_manager:project-detail' pk=project.id  %}">
            Completed
          </a>
          {% else %}
           <a
            class="btn btn-danger"
            href="{% url 'task_manager:project-detail' pk=project.id  %}">
            No completed
          </a>
        {% endif %}
        </td>
        <td class="text-center">
          <a
            href="{% url 'task_manager:project-update' pk=project.id %}">
            🆗
          </a>
        </td>
        <td class="text-center">
          <a
            href="{% url 'task_manager:project-delete' pk=project.id %}">
            ⛔️
          </a>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
