{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="p-3 mb-2 bg-success text-white">

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-7">
           <h3 class="project__part">
             Owner: {{ project_detail.owner.first_name }}
             {{ project_detail.owner.last_name }}
           </h3>
           <p>
             Created: {{ project_detail.created_time }}
           </p>
           <h3>Project: "{{ project_detail.name }}"</h3>
           <p>
             Content: "{{ project_detail.description }}"
           </p>
        </div>

        <div class="col-sm-5">
          <h3 class="project__part">
            Deadline project: {{ project_detail.deadline }}
          </h3>
          <br><br>
          <h3>
            Mark completion of Project:
          </h3>
          {% if project_detail.is_completed %}
            <p class="text-center btn btn-secondary">Completed</p>
            {% else %}
            <p class="text-center btn btn-danger">No completed</p>
          {% endif %}
        </div>

      </div>
    </div>

  </section>

  <br>

  <section>
    <h1 class="text-left">
      <strong>Project contains: &emsp;&emsp; {{ project_detail.task.all.count }} Tasks</strong>
      <a
        class="btn btn-primary"
        style="float: right"
        href="{% url 'task_manager:project-update' pk=project_detail.id %}">
        Update this Project
      </a>
    </h1>
    <table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Task name</th>
          <th scope="col">Description</th>
          <th scope="col">Priority</th>
          <th scope="col">Complete Plan Date</th>
          <th scope="col">Completion Mark</th>
          <th scope="col">Upd task</th>
          <th scope="col">Del task</th>
        </tr>
      </thead>
      <tbody>
        {% for task in project_detail.task.all %}
          <tr>
            <td><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>
            <td>{{ task.description }}</td>
            <td class="text-center">
              {% if task.priority == "A"  %}
                <span class="btn-outline-danger">{{ task.get_priority_display }}</span>
                {% elif task.priority == "B" %}
                <span class="btn-outline-primary">{{ task.get_priority_display }}</span>
                {% else %}
                <span class="btn-light">{{ task.get_priority_display }}</span>
              {% endif %}
            </td>
            <td class="text-center">{{ task.deadline }}</td>
            <td class="text-center">
              {% if task.is_completed %}
                <a
                  class="btn btn-success"
                  href="{% url 'task_manager:task-detail' pk=task.id %}">
                  Completed
                </a>
              {% else %}
                <a
                  class="btn btn-danger"
                  href="{% url 'task_manager:task-detail' pk=task.id %}">
                  No completed
                </a>
              {% endif %}
            </td>
            <td class="text-center">
              <a
                href="{% url 'task_manager:task-update' pk=task.id %}">
                🆗
              </a>
            </td>
            <td class="text-center">
              <a
                href="{% url 'task_manager:task-delete' pk=task.id %}">
                ⛔️
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <br>
  <a
    class="btn btn-primary"
    style="float: left"
    href="{% url 'task_manager:task-create' %}">
    Add new Task
  </a>

{% endblock %}
