{% extends "base.html" %}

{% block content %}
  <section class="p-3 mb-2 bg-success text-white">

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-7">
           <h3 class="project__part">
             Task: {{ task_detail.name }}
           </h3>
           <p>
             Created: {{ task_detail.created_time }}
           </p>
           <p>
             Content: "{{ task_detail.description }}"
           </p>
          <h3>Priority:</h3>
          <h4>
           {% if task_detail.priority == "A"  %}
             <p class="btn btn-danger">{{ task_detail.get_priority_display }}</p>
             {% elif task.priority == "B" %}
               <p class="btn btn-primary">{{ task_detail.get_priority_display }}</p>
             {% else %}
               <p class="btn btn-secondary">{{ task_detail.get_priority_display }}</p>
           {% endif %}
          </h4>
        </div>

        <div class="col-sm-5">
          <h3 class="project__part">
            Deadline task: {{ task_detail.deadline }}
          </h3>
          <br><br>
          <h3>
            Mark completion of Task:
          </h3>
          {% if task_detail.is_completed %}
            <p class="text-center btn btn-secondary">Completed</p>
            {% else %}
            <p class="text-center btn btn-danger">No completed</p>
          {% endif %}

            {% if task_detail.fact_date %}
              <h3><strong>Date of completion:</strong> &emsp; {{ task_detail.fact_date }}</h3>
              {% else %}
              <h4>
                <form action="" method="post" style="height: 50px" class="form-check-inline" novalidate>
                  {% csrf_token %}
                  {{ done_form }}
                  <input type="submit" value="✅ Ok" class="btn btn-secondary">
                </form>
              </h4>
            {% endif %}

        </div>

      </div>
    </div>

  </section>

  <br>

  <section>
    <h1 class="text-center"><strong>Task posts</strong></h1>
    <table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Post title</th>
          <th scope="col">Content</th>
          <th scope="col">Owner</th>
          <th scope="col">Date of post</th>
          <th scope="col">Upd post</th>
          <th scope="col">Del post</th>
        </tr>
      </thead>
      <tbody>
        {% for post in task_detail.post.all %}
          <tr>
            <td><a href="{% url 'task_manager:post-detail' pk=post.id %}">{{ post.title }}</a></td>
            <td>{{ post.content }}</td>
            <td>{{ post.owner }}</td>
            <td class="text-center">{{ post.created_time }}</td>
            <td class="text-center">
              <a
                href="{% url 'task_manager:post-update' pk=post.id %}">
                🆗
              </a>
            </td>
            <td class="text-center">
              <a
                href="{% url 'task_manager:post-delete' pk=post.id %}">
                ⛔️
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <br>
   <a
     class="btn btn-primary"
     style="float: left"
     href="{% url 'task_manager:post-create' %}">
     Add new Post
   </a>

{% endblock %}
