{% extends "base.html" %}

{% block content %}

  <h1>
    <strong>List of all Tasks.</strong>
    <a
      class="btn btn-primary"
      style="float: right"
      href="{% url 'task_manager:task-create' %}">
      Create Task
    </a>
    <span>
      {% block search %}
        {% include "includes/search.html" %}
      {% endblock %}
    </span>
  </h1>
  <table class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Project</th>
        <th scope="col">Task Title</th>
        <th scope="col">Content</th>
        <th scope="col">Complete Plan Date</th>
        <th scope="col">Complete Fact Date</th>
        <th scope="col">Completion Mark</th>
        <th scope="col">Upd task</th>
        <th scope="col">Del task</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
      <tr>
        <td><a href="{% url 'task_manager:project-detail' pk=task.project.id %}">{{ task.project.name }}</a></td>
        <td><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>
        <td class="text-center">{{ task.description }}</td>
        <td class="text-center">{{ task.deadline }}</td>
        <td class="text-center">
          {% if task.fact_date %}
            {{ task.fact_date }}
            {% else %}
            <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="btn btn-outline-primary">Do task</a>
         {% endif %}
        </td>
        <td class="text-center">
          {% if task.is_completed %}
            <p class="btn btn-success">Completed</p>
            {% else %}
            <p class="btn btn-danger">Open</p>
          {% endif %}
        </td>
        <td class="text-center">
          <a href="{% url 'task_manager:task-update' pk=task.id %}">
            🆗
          </a>
        </td>
        <td class="text-center">
          <a href="{% url 'task_manager:task-delete' pk=task.id %}">
            ⛔️
          </a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}
