{% extends "base.html" %}

{% block content %}
  <section class="p-3 mb-2 bg-success text-white">

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-7">
           <h3 class="project__part">
             Task: {{ task_detail.name }}
           </h3>
           <p>
             Created: {{ task_detail.created_time }}
           </p>
           <p>
             Content: "{{ task_detail.description }}"
           </p>
          <h3>Priority:</h3>
          <p>
           {% if task_detail.priority == "A"  %}
             <span class="btn btn-danger">{{ task_detail.get_priority_display }}</span>
             {% elif task.priority == "B" %}
               <span class="btn btn-primary">{{ task_detail.get_priority_display }}</span>
             {% else %}
               <span class="btn btn-light">{{ task_detail.get_priority_display }}</span>
           {% endif %}
          </p>
        </div>

        <div class="col-sm-5">
          <h3 class="project__part">
            Deadline task: {{ task_detail.deadline }}
          </h3>
          <br><br>
          <h3>
            Mark completion of Task:
          </h3>
          {% if task_detail.is_completed %}
            <p class="text-center btn btn-secondary">Completed</p>
            {% else %}
            <p class="text-center btn btn-danger">No completed</p>
          {% endif %}
        </div>

      </div>
    </div>

  </section>

  <br>

  <section>
    <h1 class="text-center"><strong>Task posts</strong></h1>
    <table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Post title</th>
          <th scope="col">Content</th>
          <th scope="col">Owner</th>
          <th scope="col">Date of post</th>
          <th scope="col">Update post</th>
          <th scope="col">Delete post</th>
        </tr>
      </thead>
      <tbody>
        {% for post in task_detail.post.all %}
          <tr>
            <td><a href="{% url 'task_manager:post-detail' pk=post.id %}">{{ post.title }}</a></td>
            <td>{{ post.content }}</td>
            <td>{{ post.owner }}</td>
            <td class="text-center">{{ post.created_time }}</td>
            <td class="text-center">
              <a
                class="btn btn-primary"
                href="{% url 'task_manager:post-update' pk=post.id %}">
                Upd
              </a>
            </td>
            <td class="text-center">
              <a
                class="btn btn-danger"
                href="{% url 'task_manager:post-delete' pk=post.id %}">
                Del
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
